<form action="/new_image" method="post">
  <label for="filename">Image name: <input name="filename"></label><br>
  <label for="image_path">Image source: <input name="image_path"></label><br>
  <button type="submit">Create</button>
</form>