body {
	background: #a19123;
	color: #fff;
}

#app {
	width: 540px;
	margin: 200px auto;
}

.timer {
	font-size: 78px;
	font-weight: bold;
}

.timer p {
	margin: 0 0 20px 0;
}

.controls {
	width: 220px;
	margin: 0 auto;
}

.controls button {
	background: transparent;
	border: 1px solid #fff;
	border-radius: 4px;
	padding: 10px 30px;
	text-align: center;
	color: #fff;
	cursor: pointer;
	outline: 0px;
}

.toggle {
	margin-right: 20px;	
}