body {
  font: normal 16px Helvetica, Arial, sans-serif;
  color: #282828;
}

form {
  max-width: 37.5em;
  padding: 1.5rem;
  margin: 0 auto;
}

fieldset {
  padding: 1.5rem 2rem;
  margin-bottom: 2px;
  border: 0;
  border-left: 4px solid #cccccc;
  background: #ececec;
}

h2 {
  padding-bottom: 1.2rem;
  font-size: 1.25rem;
}

label {
  display: block;
  padding-bottom: .62rem;
  font-weight: bold;
  color: #666666;
}

dd {
  margin: 0;
}

input[type="text"], input[type="email"], input[type="password"],
textarea {
  width: 100%;
  height: 2.5rem;
  padding: .31rem .5rem;
  margin-bottom: 1.5rem;
  font: normal .875rem Helvetica, Arial, sans-serif;
  border: 1px solid #0066cc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  height: auto;
  max-height: 17.5rem;
  resize: vertical;
}

input[name*="name"] {
  width: 49%;
}

input[type="submit"] {
  padding: .875rem 2rem;
  font: 1rem Helvetica, Arial, sans-serif;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  background: #0066cc;
}

dl.third {
  width: 33%;
}

label.checkbox {
  position: relative;
  padding: 0 0 1.5rem 0;
  font-size: .875rem;
  font-weight: normal;
}

.partial {
  display: inline-block;
  padding-right: 1.25rem;
  vertical-align: top;
  box-sizing: border-box;
}

dl.last {
  padding-right: 0;
}

dl.half {
  width: 50%;
}